header {
    img {
      width: 4.5rem;
    }
    ul {
      list-style: none;
  
      li {
        display: inline-block;
        position: relative;
      }
      a {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 120%;
  
        &:hover::after {
          content: "\0020";
          position: absolute;
          width: 100%;
          border-top: 5px solid $primaryColor;
          text-align: center;
          bottom: -2.5px;
          left: 0;
          color: $primaryColor;
        }
      }
    }
  };

  main{
    color: white;
    font-size: 1.5rem;
    background-color: $mainContentBgColor;

    .hero{
      height: 25rem;
        img{
          object-fit: cover;
          object-position: top;
          width: 100%;
          height: 100%;
        }
    }

    .comic{
        position: relative;
        height: 10rem;
    
            &:hover .price{
                display: block;
            }
            h6{
                text-transform: uppercase;
            }
            .price{
                position: absolute;
                top: 50%;
                left: 1rem;
                font-weight: bold;
                color: white;
                display: none;
                background-color: rgba(0, 0, 0, .4);
                border-radius: 5px;
            }
            img{
                object-fit: cover;
                object-position: top;
                width: 100%;
                height: 100%;
            }
        }

  button{
    text-transform: uppercase;
  }
};

footer{
    .foot-upper-section{
        background-color: $primaryColor;
      
          span{
              color: white;
              text-transform: uppercase;
              font-size: .8rem;
          }
          img{
              height: 3rem;
          }
      }
      #foot-middle-section{
            li a {
            text-decoration: none;
            color: gray;
            font-size: 0.7rem;
            text-transform: capitalize;

            &:hover {
            color: $primaryColor;
            }
        }

        li {
            line-height: 100%;
        
            h5 {
                color: white;
                text-transform: uppercase;
            }
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
            }
        }
    }
    .bg-logo {
        background-image: url(../assets/images/dc-logo-bg.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .bg-footer-img {
        background-image: url(../assets/images/footer-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    

    .bottom-section{
        h5{
          color: $primaryColor;
          font-weight: bold;
        }
        ul {
        padding: 0;
        margin: 0;
        list-style: none;
        color: $primaryColor;
        } 
        a {
        padding: 0 0.5rem;
        }
    }

}

  

